<%- include("component/navbaradmin.ejs") %>

<div class="container">
    <div style="border-bottom: 2px solid black;margin: 20px;">
        <h3>ระบบการจัดการ</h3>
    </div>
    <div class="row">
        <div class="col">
            <div style="border: 1.5px solid black;margin: 20px;padding: 20px;">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <h3>จำนวนกระทู้ทั่วไป</h3>
                    </div>
                    <div class="col">
                        <h3><%= resultblog.length %> กระทู้</h3>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col">
            <div style="border: 1.5px solid black;margin: 20px;padding: 20px;">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <h3>จำนวนกระทู้เว็บไซต์</h3>
                    </div>
                    <div class="col">
                        <h3><%= resultblogstaff.length %> กระทู้</h3>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>