<%- include('component/navbar'); -%>
<div class="container">
    <form>
        <label>ชื่อวิชาที่จะสอน</label>
        <input placeholder="ชื่อวิชา" required>
        <button type="submit">เปิดวิชา</button>
    </form>
</div>