<% include('component/navbar'); %>
<div> <!--สร้าง classroom สำหรับครู-->
    <a href="#">สร้างห้องเรียน</a>
</div>

<div>
    <table>
        <thead>

        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>