<%- include("component/navbar") %>
<div class="container" style="margin-top: 5%;">
    <div>
         <h2><%= idblog[0].NameBlog %></h2>
    </div>
    <div style="margin-top: 3%;">
        <% ' %><%= idblog[0].Description %><% ' %>
    </div>
   
</div>