<div class="container" style="margin-top: 5%;">
    <div style="border: 2px solid black;padding: 10px;">
         <h2><%= idblog[0].NameBlog %></h2>
    </div>
    <div style="border: 2px solid black;padding: 10px;margin-top: 10px;">
        <%- idblog[0].Description %>
    </div>
</div>