<div class="container" style="margin-top: 20px;">
    <div style="border-bottom: 2px solid black;padding: 10px;">
         <h2><%= idblog[0].NameBlog %></h2>
    </div>
    <div style="border-bottom: 2px solid black;padding: 10px;margin-top: 10px;">
        <%- idblog[0].Description %>
    </div>
    <h4 style="margin-top: 10px;">Comment</h4>
    <% if (token) { %>
        <form action="/blog/<%= idcm %>" method="POST" enctype="multipart/form-data" >
            <div class="form-group">
                <textarea rows="4" cols="80" class="form-control" name="textareacomment">แสดงความคิดเห็นที่นี้</textarea> 
            </div>
            <button class="btn btn-dark">ยืนยัน</button>
        </form>
    <% } else { %>
        <form>
            <div class="form-group">
            <textarea rows="4" cols="80" class="form-control">แสดงความคิดเห็นที่นี้</textarea> 
            </div>
            <button class="btn btn-dark">กรุณาเข้าสู่ระบบ</button>
        </form>
    <% } %>
    <% if (comment.length > 0) { %>
        <h3>ความคิดเห็น</h3>
        <ol class="a">
        <% comment.forEach((cm,index) => { %>
            <div style="border: 2px solid black;padding: 20px;margin-bottom: 15px;">
              <h4><li><%= cm.Comment %></li></h4>
            </div>
        <% }); %>
        </ol>
    <% } else { %>
       <div style="border: 2px solid black;">
            <h5>ไม่มีการแสดงความคิดเห็น</h5>
        </div> 
    <% } %>
</div>