<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pridi&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/content.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">
    <div class="row" style="margin-top: 5%; font-family: 'Pridi', serif;">
        <div class="col-sm-9">
            <h1>UPDATE เรื่องเรียน</h1>
            <div style="border-bottom:5px solid gray">
                <h3>กระทู้</h3>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-sm-6">
                    <h4>ประกาศจากทางเว็บไซต์</h4>
                    <% if (resultblog.length > 0) { %>
                    <ol class="a">
                        <% resultblog.forEach((blog,index) => { %>
                            <a href="/blog/<%= blog.IDBlogStudent %>"><li  ><%= blog.NameBlog %></li></a>
                        <% }); %>
                    </ol>
                    <% } else { %>
                        <p>ไม่มีกระทู้</p>
                    <% } %>
                </div>
                <div class="col-sm-6">
                    <h4>กระทู้จากสมาชิก</h4>
                    <ol class="a">
                        <li>กระทู้ 1</li>
                        <li>กระทู้ 2</li>
                        <li>กระทู้ 3</li>
                    </ol>
                </div>
            </div>
            <div style="text-align: center;margin-top: 10px;">
                <button class="btn btn-dark" >ดูเพิ่ม</button>
                <button class="btn btn-dark">+ตั้งกระทู้</button>
            </div>
            
            
        </div>
        <div class="col-sm-3" >
            <div class="leftcontent">
                <h3>เรื่องแนะนำ</h3>
                <h5 style="border-bottom: 2px solid black;">โปรแกรมสอนพิเศษ</h5>
            </div>
        </div>
    </div>
    
</div>